body{
display: flex;
flex-flow: column;

align-items: center;
}
button{
    background-color: blue;
    border: 2px lightblue solid;
    border-radius: 10px;
}
button:hover{
    color: white;
}
table, td {
    border: 1px solid black;
    border-collapse: collapse;
}
#table{
    background-image: linear-gradient(white,gray);
}
div{
    margin: 5px 0px;
}
p{
    display: inline;
    margin-top: 5px;
}
i:hover{
    color: blue;
}
i{
    padding: 2px 2px;
}    