.bonus {
    color:#999;
}

.greetingsBoxHolder {
    border:3px dashed #75cdcd;
}

#exercisesHolder .col-12.bg-white.shadow-sm.p-4.mx-auto.mt-4 {
    margin-top:48px;
    margin-bottom:48px;
}

.play-button {
    position:absolute;
    right:12px;
    top:12px;
}

.block {
    position: relative;
    transform: translate(-50%);
    left:0%;
    width:48px;
    height:48px;
    background:green;
}

.highlight {
    background-color:#333;
    color:#fff;
}
