body{
    /*background: #4A4B2F;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23030204' fill-opacity='0.15'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    background-image: url("dung.jpg");
    background-size: cover;
    padding: 0px 100px;
    color: #12100E;
    font-family: 'Almendra', serif;
    cursor:url("Gold sword.cur"),auto;
}
button, select{
    padding: 5px 5px;
    font-size: 16px;
    font-weight: bolder;
    background-color: #6B654B;
    border: none;
    border-radius: 5px;
    margin: 5px 5px;
    font-family: 'Almendra', serif;
    cursor:url("Gold sword.cur"),auto;
}
button:hover{
    color: white;

}
input{
    padding: 5px 5px;
    font-size: 16px;
}
#create{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    max-width: 100%;
}
#arena{
    display: none;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border:2px solid black;
    margin-top: 5px;    
    padding: 5px 5px;
    max-width: 100%;
    background-color: #c6bda1;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23030204' fill-opacity='0.15'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); 
}
h1{
    text-align: center;
    margin:10px 10px ;

}
i{
    display: inline;
}
p{
    text-align: center;
    margin:10px 10px
}
#named1,#named2{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    display: inline;    
} 
.butts{
    margin-top: 10px;
    text-align: center;
}
.player1{
    background-color:  #80808080;
    margin: 10px 10px;
    padding: 5px 5px;
}
.player2{
    background-color: #a9a9a980;
    margin: 10px 10px;
    padding: 5px 5px;
}

#health2{
    -webkit-appearance: none;
}
.moves{
    margin-top: 5px;
    text-align: center;
}
img{
    max-height: 150px;
}
.display{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.caption{
    display: block;
}
#health1,#health2{
    text-align: center;
    width: 200px;
}
#dis1 img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#dis2{
    flex-direction: row-reverse;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
.prog{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.proge{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#log{
    max-width: 300px;
    min-width: 250px;
    height: 200px;
    background-color: #ece7d4;
    margin-top:10px ;
    overflow: auto;
    padding: 10px 10px;
    border: 4px solid rgba(15,94,14,0.78);
    border-radius: 29px;
    -webkit-box-shadow: inset 0px 0px 15px 3px #000000; 
    box-shadow: inset 0px 0px 15px 3px #000000;
}
#title, #music, #sound{
    color: white;
}
@media only screen and (max-width: 1050px) {
    #arena {
      flex-flow: column;
    }
    body{
        padding: 10px 10px;
    }
  }
  @media only screen and (max-width: 900px) {
      #create{
          flex-flow: column;
      }
  }
  @media only screen and (max-width: 380px) {
      img{
          max-width: 100px;
      }